@import 'https://fonts.googleapis.com/css?family=Mirza|Open+Sans';

#map {
  position:absolute;
  padding:0;
  margin:0;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
}

#navbar {
  background-color: #FCA604;
  position: fixed;
  top: 3%;
  right: 3%;
  height: 425px;
  width: 260px;
  opacity: .8;
  z-index: 1;
}

#nav-icon {
  position: fixed;
  top: 4%;
  right: 5%;
  height: 40px;
  width: 40px;
  z-index: 2;
}

.display {
  display: block;
}

.no-display {
  display:none;
}

@media (max-width: 400px) {

  #navbar {
    height: 350px;
    width: 175px;
  }

}

/*@media (min-width: 700px) {

  #navbar {
    height: 450px;
    width: 300px;
  }

  #nav-icon {
    height: 50px;
    width: 50px;
  }

}*/
