@import 'https://fonts.googleapis.com/css?family=Mirza|Open+Sans';

#map {
  position:absolute;
  padding:0;
  margin:0;
  top:0;
  left:0;
  width: 100%;
  height: 85%;
}

#navbar {
  background-color: #FCA604;
  position: fixed;
  bottom: 0;
  height: 15%;
  width: 100%;
  z-index: 1;

}

#title {
  position: fixed;
  bottom: 0;
  height: 15%;
  width: 100%;
  z-index: 2;
}

h2 {
 color: black;
 font-family: Mirza, sans-serif;
 font-size: 300%;
 text-align: left;
 margin-top: 20px;
 margin-left: 10px;
}

h4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 150%;
  text-align: left;
  margin: -15px 0px 16px 10px;
  font-style: italic;
}
